
    .lista-notas{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
        grid-area: "lista-notas__item";
    }

    .lista-notas__item{
        height: min-content;
        width: 50%;
        margin: 2rem 6rem;
        background-color: rgb(255, 255, 157);
        border: solid 1px gray;
        border-radius: 0.5rem;
        padding: 1rem;
        word-wrap: break-word;
    }
